@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-inter);
}

@theme {
  --breakpoint-xs: 500px;
}

@layer utilities {
  .container {
    @apply w-full max-w-[70.9rem] mx-auto mt-0 mb-0 py-0 sm:px-7 px-5;
  }
}

@layer base {
  h1 {
    @apply text-2xl md:text-3xl lg:text-[32px] font-normal text-primary text-balance;
  }

  h2 {
    @apply text-3xl font-normal text-primary text-balance;
  }

  h3 {
    @apply text-2xl font-normal text-primary text-balance;
  }

  h4 {
    @apply text-lg sm:text-xl font-medium text-primary text-balance;
  }

  h5 {
    @apply text-base sm:text-lg font-medium text-primary text-balance;
  }

  h6 {
    @apply text-base font-normal text-primary text-balance;
  }

  p {
    @apply text-base font-normal text-secondary text-pretty;
  }
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9818 0.0054 95.0986);
  --foreground: oklch(0.3438 0.0269 95.7226);
  --primary: oklch(0.1908 0.002 106.5859);
  --secondary: oklch(0.4334 0.0177 98.6048);
  --muted-foreground: oklch(0.6059 0.0075 97.4233);
  --border: oklch(0.8847 0.0069 97.3627);
  --ring: oklch(0.6171 0.1375 39.0427);
}

.dark {
  --background: oklch(0.2679 0.0036 106.6427);
  --foreground: oklch(0.8074 0.0142 93.0137);
  --primary: oklch(0.9211 0.004 106.4781);
  --secondary: oklch(0.7713 0.0169 99.0657);
  --muted-foreground: oklch(0.7713 0.0169 99.0657);
  --border: oklch(0.3618 0.0101 106.8928);
  --ring: oklch(0.6724 0.1308 38.7559);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
